*
{
    margin: auto;
    padding: 10px;
}
.wrapper{
    background-color: fuchsia;
font-family: "Goudy-bookletter" serif;
color: orange;
width: 100%;
height: 100%;
}
h1 .outer-layer{
background-color: fuchsia;
font-family: "Goudy-bookletter" serif;
color: orange;
text-align: center;
}
.content{
background-color: fuchsia;
color: orange;
font-family: sans-serif;
}
.saction-bar{
background-color: fuchsia;
font-family: "Goudy-bookletter" serif;
color: orange;
}
.footer{
width: 200px;
height: auto;
}
image{
    margin: auto;
}