*
{
    margin: auto;
    padding: 10px;
}
.wrapper{
    background-color: #FF77FF;
font-family: "Goudy-bookletter" serif;
color: white;
width: 100%;
height: 100%;
display: grid;
grid-gap: 20px;
}
h1 .outer-layer{
background-color: #ddd;
font-family: "Goudy-bookletter" serif;
color: white;
text-align: center;
}
.content{
background-color: fuchsia;
color: white;
font-family: sans-serif;
}
.saction-bar{
background-color: fuchsia;
font-family: "Goudy-bookletter" serif;
color: white;
}
.footer{
width: 200px;
height: auto;
}
image{
    margin: auto;
}
h2{
    color: orange
}
.btn{
    background: #FF77FF;
    text-decoration: none;
    border: 0;
}